/* Common style to this project */

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.btn-primary {
    background-color: #FF5959;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;

}

/* Header Style */

.header-background {
    background-image: url(../images/donation3.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 1260px;
    height: 600px;
    color: cornsilk;
    text-align: center;
}

.header-title {
    padding: 150px;
    margin-left: 100px;
    margin-right: 100px;
}


.header-item {
    font-size: 70px;

}

.header-description {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Donate Today section */
.donate-section {
    margin: 0 100px;
    padding: 70px 100px;
    text-align: center;
}

.donate-section div {
    align-items: center;
}

.donate-title {
    font-size: 45px;
    font-weight: 700;
}

.donate-description {
    color: #707070;
    font-size: 18px;
    margin: 5px 150px;
}

.donate-amount {
    display: flex;
    justify-content: center;
    margin: 5px 150px;

}

.donate-amount h1 {
    margin-left: 20px;
    color: #707070;
    font-size: 35px;
    font-weight: 700;
    padding: 25px 20px;
    margin-bottom: 70px;
}

.highlight-amount {
    border: solid 2px #FF5959;
    background: #FFEEEE;
    border-radius: 5px;
    padding: 25px 20px;

}

.center {
    text-align: center;
}

.other-amount {
    margin-bottom: 50px;
    color: #B3B3B3;
    font-size: 18px;
}

/* Our Donate Plan */
.plan-title {
    text-align: center;
    margin: 30px 100px;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}

.plan-description {
    text-align: center;
    color: #707070;
    margin: 10px;
    padding: 10px 200px;
    font-size: 18px;
    font-weight: 400;

}

.our-plan>div {
    display: flex;
    margin: 20px 50px;
}

#background-1 {
    height: 300px;
    width: 445px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #cae6ea;
}

#background-2 {
    height: 300px;
    width: 445px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #ebd5d5;
}

#background-3 {
    height: 300px;
    width: 445px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #f0b3b3;
}

.help-container {
    padding: 30px 100px;
}

#background-1 img {
    padding: 10px;
}

#background-2 img {
    padding: 10px;
}

#background-3 img {
    padding: 10px;
}

.our-plan-title {
    font-size: 25px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 20px;
    padding: 10px;
}

.our-plan-description {
    font-size: 14px;
    font-family: 400;
    padding: 10px;
}

/* help container style  */
.flexible-container {
    display: flex;
    padding: 80px 0;
}

.half-width {
    text-align: center;
    padding: 5px 80px 0px 80px;
    height: 500px;
    width: 500px;
}

.half-width img {

    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.help-title {
    color: #121212;
    font-size: 35px;
    font-weight: 700;
    padding: 45px 0px 0px 0px;
}

.help-description {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    padding: 25px 0 30px 0px;
}

.btn-left {
    justify-content: right;
}

/* Update Section Style */
.update-title {
    text-align: center;
    color: #121212;
    font-size: 35px;
    font-weight: 700;
    padding-top: 40px;
}

.update-description {
    text-align: center;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 300px;
}

.subscribe-background {
    text-align: center;
    margin: 80px 100px;
    padding: 75px 100px;
    background-color: #FFF4D6;
    border-radius: 10px;
}

.input-field {
    position: relative;
    border: none;
    background-color: #FFFFFF;
    padding: 10px 20px;

}

.btn-subscribe {
    position: absolute;
    border: none;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 10px 20px;
}

/* Footer Style */

footer {
    background-color: #0B0D17;
    height: 200px;
}

.footer-title {
    text-align: center;
    color: #FF5959;
    font-size: 26px;
    font-weight: 400;
    padding-top: 60px;
}

.footer-description {
    text-align: center;
    color: #D9D9D9;
    font-size: 9px;
    font-weight: 400;
    padding-top: 20px;
}